<!DOCTYPE html>
<html>
<head>
    <title>YTdownloader</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5">YouTube Video Downloader</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="POST" class="mt-4">
                    <div class="form-group">
                        <input type="text" name="url" class="form-control" placeholder="Enter YouTube URL">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Download</button>
                </form>
                {% if success %}
                    <div class="alert alert-success mt-3">Download started!</div>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
